body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-family: 'ambiant';
    margin: 0;
}
#overflow {
    overflow-y: hidden;
}

.scroll {
    overflow-y: auto !important;
}
.center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    background: white;
    width: 100vw;
    top: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    .logo-ctn {
        position: fixed;
        display: flex;
        align-items: center;
         justify-content: center;
    }
    .logo {
        &--left {
            // position: fixed;
                img {
                height: 100px;
               
            }
        }   
        &--right {
            //  position: fixed;
            img{
                height: 100px;
                margin-left: -17px;
            
            }
        }
    }
    .hiddenImage {
        position: absolute;
        display: none;
        transition: 2s;
        img {
            opacity: 0.2;
        }
        video {
            // width: 613px;
            // height: 440px;
            object-fit: cover;
            scale: 0;
            border-radius: 15px;
        }
    }
}
.fixed {
    position: fixed;
}
.bigger {
    animation: bigger 0.5s linear forwards ;
    animation-iteration-count: 1;
}

@keyframes bigger{
    0%{
        width: 1px;
        height: 60px;
        filter: blur(4px);
        -webkit-filter: blur(4px),
    }
    99% {
        filter: blur(4px);
        -webkit-filter: blur(4px),
    }
     100%{
        width: calc(100vw - 526px);
        height: calc(100vh - 115px);
        margin-left: -105px;
        filter: blur(0px);
        -webkit-filter: blur(4px),
    }
  }

.text {
    &--ctn {
        // height: 100vh;
       
        .text--content {
            width: 40vw;
            text-align: center;
            margin: auto;
            padding-bottom: 100px;
            font-size: 16px;
            line-height: 26px;
            opacity: 0 ;
            padding-bottom: 800px;
            margin-top: 200px;
            .romie {
                font-family: 'romie';
                font-size: 29px;
                line-height: 40px;
                margin-top: 40px;
            }
            .ambiant{
                font-family: "ambiant";
                font-size: 36px;
                line-height: 40px;
            }
        }
    }
}


.end {
    height: 1000px;
    background-color: rgb(255, 255, 255);
    // margin-top: 800px;
}



.fadeIn  {
    display: block !important;

}
.relative {
    position: relative !important;
    cursor: default !important;
    z-index: 0 !important;
}




.revealed {
    animation: x-move-left 0.2s normal forwards ;
    animation-iteration-count: 1;
  
}
@keyframes x-move-left{
    0%{
    //  position: fixed;
     transform: translate(0, 0);
 
    }
     100%{
        // position: relative;
        // left: unset;
        // top: unset;
        transform: translate(38vw, 43vh);
    }
  }

  .revealedback {
    animation: x-moveback-left 0.2s normal forwards ;
    animation-iteration-count: 1;
}
@keyframes x-moveback-left{
    0%{
        transform: translate(38vw, 43vh);
 
    }
     100%{
        transform: translate(0, 0);

    }
  }




  .revealedright {
    animation: x-move-right 0.2s normal forwards;
}
.revealedrightback {
    animation: x-moveback-right 0.2s normal forwards ;
    animation-iteration-count: 1;
}

@keyframes x-move-right{
    0%{
      transform: translate(0, 0);
 
    }
     100%{
        transform: translate(-38vw, -43vh);

    }
  }


  @keyframes x-moveback-right{
    0%{
        transform: translate(-38vw, -43vh);
 
    }
     100%{
        transform: translate(0, 0);

    }
  }


.footer {
    height: 310px;
    background: #c6c6c6;
    box-shadow: 2px -2px 9px 6px #c6c6c6;
    display: flex;
    justify-content: space-between;
    .col1 {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
        line-height: 30px;
        a {
            color: black;
            &:hover {
                color: white !important;
            }
        }
    }
    .col2 {
        padding: 15px;
        font-size: 20px;
        line-height: 30px;
        .joinbtn {
            background: black;
            color: white;
            width: 47px;
            padding: 2px 2px 2px 10px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 47px;
            &:hover {
                background: white;
                color: black;
            }
        }
    }
    .col3 {
        font-family: 'romie';
        padding: 15px;
        align-self: self-end;
        text-align: right;
    }
}